name: build

on:
  push:

jobs:
  test-mac:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Make
      run: make

    - name: Run tests
      run: make unit-tests

  test-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup MSBuild and add to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Run MSBuild
      run: msbuild .\snowplow-cpp-tracker.sln

    - name: Run tests
      run: .\x64\Debug\snowplow-cpp-tracker.exe

  test-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install packages
      run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev uuid-dev

    - name: Make
      run: make

    - name: Run tests
      run: make unit-tests
